@media (max-width: 768px) {
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 768px), (min-width: 1120px) {
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 83px 21px 21px 21px;
  }

  .copyright span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #7e7e82;
  }
}
