.grid__wrapperSecond {
  display: none;
}

@media (min-width: 768px), (min-width: 1120px) {
  .grid__wrapperSecond {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 16px;
    overflow: hidden;
  }

  .grid__second {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 10px;
  }

  .grid__item__second--hidden {
    display: none;
  }

  .grid__item--second {
    flex: 0 0 240px;
    flex-direction: row;
    position: relative;
    width: 240px;
    height: 160px;
    background-color: #fff;
    align-items: center;
  }

  .grid__item--second > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 0px 0px 16px;
  }

  .grid__item--second > :nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 16px 16px 0px;
  }
}
