@use 'variable' as *;

.heading {
  position: relative;
  display: flex;
  width: 100%; /* Ensure it takes full width of its parent to apply padding correctly */
  padding-left: 16px;
  margin-bottom: 24px;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  height: 56px;
  justify-content: flex-start;
  align-items: center;
}

.heading h1 {
  color: rgb(126, 126, 130);
}
.heading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $borderColor;
}
