@use 'variable' as *;

.swiper__slide--table {
  position: relative;
  width: 228px;
  height: auto;
  background-color: #fff;
  justify-content: flex-start;
  text-align: left;
  padding: 16px;
}

.swiper__slide--table br:nth-of-type(1),
br:nth-of-type(3),
br:nth-of-type(5) {
  color: $deemText;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}

.swiper__slide--table br:nth-of-type(2),
br:nth-of-type(4),
br:nth-of-type(6) {
  color: $darkText;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.order__button--second {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  width: 130px; /* Fixed width for consistency */

  /**/
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 32px;
}

.order__button--second:hover {
  background-color: #d81b60;
}

.order__button--second svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}
@media (max-width: 768px) {
  .table-container {
    display: none;
  }
}

@media (min-width: 1120px), (min-width: 768px) {
  .table-container {
    width: 100%;
    margin: 40px auto;
    border-radius: 8px;
    padding: 30px;
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .price-table th,
  .price-table td {
    padding: 18px 0;
    border-bottom: 1px solid #eee;
  }

  .price-table th {
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
  }

  .price-table td {
    font-size: 16px;
    color: #555;
    background-color: white;
    padding-left: 50px;
  }

  .price-table tr:last-child td {
    border-bottom: none;
  }

  .service-name {
    font-weight: 500;
  }

  .price {
    font-weight: 600;
    color: #333;
    width: 150px;
  }

  .duration {
    color: #777;
    width: 120px;
  }

  .order-button {
    background-color: #e91e63;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    width: 130px; /* Fixed width for consistency */
  }

  .order-button:hover {
    background-color: #d81b60;
  }

  .order-button svg {
    fill: #fff;
    width: 16px;
    height: 16px;
  }
}
