@use 'variable' as *;
.tabs-nav {
  display: flex;
  gap: 16px;
  overflow-x: auto; /* for scrolling form left to right */
  padding-bottom: 16px; /* Space for scrollbar */
  margin-bottom: 24px;
  padding-left: 12px; /* Aligns with main title */
}

.tab-button {
  font-family: 'TTLakesCustom';
  flex-shrink: 0;
  white-space: nowrap;
  padding: 8px 16px; /* Larger padding for tab buttons */
  border: 2px solid transparent;
  border-radius: 6px;
  color: #7e7e82;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: all 0.2s ease-in-out;

  background: none;
}

.tab-button.active {
  border-color: $activeBorderColor;
}

@media (min-width: 1120px) {
  .tabs-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 24px;
    overflow-x: hidden;
  }
}
