@use 'variable' as *;
@use 'sidebar';
@use 'header';
@use 'tabs-nav';
@use 'sub-header';
@use 'text-and-image';
@use 'swiper';
@use 'grid';

body {
  display: flex;
  padding: 0px;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  width: 100%;
  padding-top: 24px;
  margin: 0px;
}

@media (min-width: 768px) {
  .main {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}

@media (min-width: 1120px) {
  .main {
    display: flex;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    flex-wrap: wrap;
  }
}
